<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="profile-details.css">
</head>
<body>
    <div class="profile-page-container">
            <img src="css/media/profile-picture.jpg" alt="">
            <p>Name Name</p>
            <div class="profile-info">
                <p><span>Age:</span> 26</p>
                <p><span>Address:</span> San Stefano 1</p>
                <p><span>Country:</span> Bulgaria</p>
                <p><span>Phone:</span> 08888888</p>
                <p><span>Email</span> email@email.email</p>
                <button>Edit</button>
            </div>
    </div>
</body>
</html>