{% extends 'base.html' %}
{% block content %}
<div class="profile-page-container">
        <img src='https://media.sproutsocial.com/uploads/2022/06/profile-picture.jpeg' alt="">
        <div class="profile-info">
            <p>Name Name</p>
            <p><span>Age:</span> 26</p>
            <p><span>Address:</span> San Stefano 1</p>
            <p><span>Country:</span> Bulgaria</p>
            <p><span>Phone:</span> 08888888</p>
            <p><span>Email</span> email@email.email</p>
            <button><a href="#">Edit</a></button>
        </div>
</div>
{% endblock %}