{% extends 'base.html' %}
{% block content %}
<div class="reviews-main-section">
        <div class="section-1">
            <p>Bookings list</p>
            <ul class="bookings-list-navbar">
                <li><a href="#">Completed</a></li>
                <li><a href="#">Upcoming</a></li>
                <li><a href="#">Current</a></li>
                <li><a href="#">All</a></li>
            </ul>
        </div>
        <div class="section-2">
            <table>
                <tr>
                <th>Property name</th>
                <th>Check-in</th>
                <th>Check-out</th>
                <th>Length of stay</th>
                <th>Address</th>
                <th>Contact phone</th>
                <th>Contact email</th>
                </tr>
                <tr>
                <td>Sunny Apartment</td>
                <td>07.02.2024</td>
                <td>09.02.2024</td>
                <th>3 nights</th>
                <td>str. Romanov 1, Sunny Beach, Bulgaria</td>
                <td>088888888</td>
                <td>email@email.email</td>
                <td><a href="#"><button>Review</button></a></td>
                <td><a href="#"><button>Edit</button></a></td>
            </table> 
            <table>
                <tr>
                <th>Property name</th>
                <th>Check-in</th>
                <th>Check-out</th>
                <th>Length of stay</th>
                <th>Address</th>
                <th>Contact phone</th>
                <th>Contact email</th>
                </tr>
                <tr>
                <td>Sunny Apartment</td>
                <td>07.02.2024</td>
                <td>09.02.2024</td>
                <th>3 nights</th>
                <td>str. Romanov 1, Sunny Beach, Bulgaria</td>
                <td>088888888</td>
                <td>email@email.email</td>
                <td><a href="#"><button>Review</button></a></td>
                <td><a href="#"><button>Edit</button></a></td>
            </table> 
            <table>
                <tr>
                <th>Property name</th>
                <th>Check-in</th>
                <th>Check-out</th>
                <th>Length of stay</th>
                <th>Address</th>
                <th>Contact phone</th>
                <th>Contact email</th>
                </tr>
                <tr>
                <td>Sunny Apartment</td>
                <td>07.02.2024</td>
                <td>09.02.2024</td>
                <th>3 nights</th>
                <td>str. Romanov 1, Sunny Beach, Bulgaria</td>
                <td>088888888</td>
                <td>email@email.email</td>
                <td><a href="#"><button>Review</button></a></td>
                <td><a href="#"><button>Edit</button></a></td>
            </table> 
        </div>
    </div>
{% endblock %}