{% extends 'base.html'%}
{% block content %}
    <div class="reservation-make-container">
        <p>Please fill in the below information to finalize your reservation</p>
        <form action="">
            <label for="property-name">Property name</label>
            <input type="text" name="property-name">

            <label for="check-in-date">Check-in date</label>
            <input type="date" name="check-in-date">

            <label for="check-out-date">Check-out date</label>
            <input type="date" name="check-out-date">

            <label for="number-guests">Number of guests</label>
            <input type="number" name="number-guests">

            <label for="guest-name">Guest name</label>
            <input type="text">

            <button type="submit">Book!</button>
        </form>
    </div>
{% endblock %}