{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/homepage.css' %}?{% now "U" %}">
    <script src="https://kit.fontawesome.com/215e6dddbe.js" crossorigin="anonymous"></script>
    <script src=""></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
    <title>Home page</title>
</head>
<body>
    <div class="home-page-main-container">
        <header>
            <div class="logo"><a href="{% url 'index' %}"><img src="{% static 'media/logo.png' %}" alt=""></a></div>
            <div class="navbar">
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'profile_create' %}">Sign up</a></li>
            <li><a href="{% url 'profile_log_in' %}">Log in</a></li>
            <li><a href="{% url 'profile_details' %}">Manage account</a></li>
            <li><a href="{% url 'apartments_catalogue' %}">Apartments</a></li>
            <li><a href="{% url 'apartments_catalogue' %}">Reserve</a></li>
            <li><a href="{% url 'reservations' %}">My Reservations</a></li>
            <li><a href="{% url 'reviews_catalogue' %}">My Reviews</a></li>
        </ul>
    </div>
        </header>
        {% block content %}
        {% endblock %}
    </div>
    <footer>
    <ul>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
    </ul>
</footer>
</body>
</html>