{% extends 'base.html' %}
{% block content %}
<div class="reviews-section-1">
    <p>Posted reviews</p>
    <div class="done-reviews-container">
        <div class="review-card">
            <img src="https://plus.unsplash.com/premium_photo-1689977968861-9c91dbb16049?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cHJvZmlsZSUyMHBpY3R1cmV8ZW58MHx8MHx8fDA%3D" alt="profile-picture">
            <div class="score-container">
                <i class="fa-solid fa-star fa-xl"></i>
                <i class="fa-solid fa-star fa-xl"></i>
                <i class="fa-solid fa-star fa-xl"></i>
                <i class="fa-regular fa-star fa-xl"></i>
                <i class="fa-regular fa-star fa-xl"></i>
            </div>
            <div class="additional-info">
                <p>Apartment name: <a href="#">Sunny apartments</a></p>
                <p>Published: <span>19.06.2024</span></p>
            </div>
            <p class="review-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt alias
                praesentium voluptatem excepturi, illo, eum officiis sequi magni ipsum,
                numquam vitae natus? At odit, delectus architecto dolore quo modi quod.
                Dignissimos at veniam laboriosam maxime autem, accusamus expedita nesciunt
                animi tenetur non! Consequuntur beatae sequi culpa repellat autem eos hic?</p>
            <p class="reviewer-name">Lorem Ipsum</p>
            <div class="button-section">
                <button>Edit</button>
                <button>Delete</button>
            </div>
        </div>
        <div class="review-card">
            <img src="https://plus.unsplash.com/premium_photo-1689977968861-9c91dbb16049?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cHJvZmlsZSUyMHBpY3R1cmV8ZW58MHx8MHx8fDA%3D" alt="profile-picture">
            <div class="score-container">
                <i class="fa-solid fa-star fa-xl"></i>
                <i class="fa-solid fa-star fa-xl"></i>
                <i class="fa-solid fa-star fa-xl"></i>
                <i class="fa-regular fa-star fa-xl"></i>
                <i class="fa-regular fa-star fa-xl"></i>
            </div>
            <div class="additional-info">
                <p>Apartment name: <a href="#">Sunny apartments</a></p>
                <p>Published: <span>19.06.2024</span></p>
            </div>
            <p class="review-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt alias
                praesentium voluptatem excepturi, illo, eum officiis sequi magni ipsum,
                numquam vitae natus? At odit, delectus architecto dolore quo modi quod.
                Dignissimos at veniam laboriosam maxime autem, accusamus expedita nesciunt
                animi tenetur non! Consequuntur beatae sequi culpa repellat autem eos hic?</p>
            <p class="reviewer-name">Lorem Ipsum</p>
            <div class="button-section">
                <button>Edit</button>
                <button>Delete</button>
            </div>
        </div>
        <div class="review-card">
            <img src="https://plus.unsplash.com/premium_photo-1689977968861-9c91dbb16049?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cHJvZmlsZSUyMHBpY3R1cmV8ZW58MHx8MHx8fDA%3D" alt="profile-picture">
            <div class="score-container">
                <i class="fa-solid fa-star fa-xl"></i>
                <i class="fa-solid fa-star fa-xl"></i>
                <i class="fa-solid fa-star fa-xl"></i>
                <i class="fa-regular fa-star fa-xl"></i>
                <i class="fa-regular fa-star fa-xl"></i>
            </div>
            <div class="additional-info">
                <p>Apartment name: <a href="#">Sunny apartments</a></p>
                <p>Published: <span>19.06.2024</span></p>
            </div>
            <p class="review-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt alias
                praesentium voluptatem excepturi, illo, eum officiis sequi magni ipsum,
                numquam vitae natus? At odit, delectus architecto dolore quo modi quod.
                Dignissimos at veniam laboriosam maxime autem, accusamus expedita nesciunt
                animi tenetur non! Consequuntur beatae sequi culpa repellat autem eos hic?</p>
            <p class="reviewer-name">Lorem Ipsum</p>
            <div class="button-section">
                <button>Edit</button>
                <button>Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="reviews-section-2">
    <p>Review an apartment</p>
    <div class="upcoming-reviews-container">
        <div class="main-apartment-card-container">
            <div class="apartment-card-subcontainer">
                <div class="apartment-card-section-1">
                    <div class="price-like-share">
                        <p>total price: 1111</p>
                    </div>
                </div>
                <div class="apartment-card-section-2">
                    <p>Lorem, ipsum dolor.</p>
                    <p><span>Lorem ipsum dolor sit,</span> amet consectetur.</p>
                    <p><span>Lorem:</span>ipsum dolor.</p>
                    <ul>
                        <li>
                            <i class="fa-solid fa-bed"></i>
                            <p>2 nights</p>
                        </li>
                        <li>
                            <i class="fa-solid fa-person"></i>
                            <p>3 persons</p>
                        </li>
                        <li>
                            <i class="fa-solid fa-door-open"></i>
                            <p>Check-in</p>
                            <p>24.06.2102</p>
                        </li>
                        <li>
                            <i class="fa-solid fa-door-closed"></i>
                            <p>Check-out</p>
                            <p>26.06.2012</p>
                        </li>
                    </ul>
                </div>
                <div class="apartment-card-section-3">
                    <button><a href="#">review now</a></button>
                </div>
            </div>
        </div>
        <div class="main-apartment-card-container">
            <div class="apartment-card-subcontainer">
                <div class="apartment-card-section-1">
                    <div class="price-like-share">
                        <p>total price: 1111</p>
                    </div>
                </div>
                <div class="apartment-card-section-2">
                    <p>Lorem, ipsum dolor.</p>
                    <p><span>Lorem ipsum dolor sit,</span> amet consectetur.</p>
                    <p><span>Lorem:</span>ipsum dolor.</p>
                    <ul>
                        <li>
                            <i class="fa-solid fa-bed"></i>
                            <p>2 nights</p>
                        </li>
                        <li>
                            <i class="fa-solid fa-person"></i>
                            <p>3 persons</p>
                        </li>
                        <li>
                            <i class="fa-solid fa-door-open"></i>
                            <p>Check-in</p>
                            <p>24.06.2102</p>
                        </li>
                        <li>
                            <i class="fa-solid fa-door-closed"></i>
                            <p>Check-out</p>
                            <p>26.06.2012</p>
                        </li>
                    </ul>
                </div>
                <div class="apartment-card-section-3">
                    <button><a href="#">review now</a></button>
                </div>
            </div>
        </div>
        <div class="main-apartment-card-container">
            <div class="apartment-card-subcontainer">
                <div class="apartment-card-section-1">
                    <div class="price-like-share">
                        <p>total price: 1111</p>
                    </div>
                </div>
                <div class="apartment-card-section-2">
                    <p>Lorem, ipsum dolor.</p>
                    <p><span>Lorem ipsum dolor sit,</span> amet consectetur.</p>
                    <p><span>Lorem:</span>ipsum dolor.</p>
                    <ul>
                        <li>
                            <i class="fa-solid fa-bed"></i>
                            <p>2 nights</p>
                        </li>
                        <li>
                            <i class="fa-solid fa-person"></i>
                            <p>3 persons</p>
                        </li>
                        <li>
                            <i class="fa-solid fa-door-open"></i>
                            <p>Check-in</p>
                            <p>24.06.2102</p>
                        </li>
                        <li>
                            <i class="fa-solid fa-door-closed"></i>
                            <p>Check-out</p>
                            <p>26.06.2012</p>
                        </li>
                    </ul>
                </div>
                <div class="apartment-card-section-3">
                    <button><a href="#">review now</a></button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}